PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize={{ LogFileSize }}
DebugLevel={{ debuglevel }}
EnableRemoteCommands={{ EnableRemoteCommands }}
LogRemoteCommands={{ LogRemoteCommands }}
ListenPort={{ listenPort }}
StartAgents={{ StartAgents }}
Server={{ serverIP }}
ServerActive={{ serverActive }}
Hostname={{ hostname_agent }}
HostMetadata={{ hostmetadata }}
RefreshActiveChecks={{ RefreshActiveChecks }}
BufferSend={{ BufferSend }}
BufferSize={{ BufferSize }}
MaxLinesPerSecond={{ MaxLinesPerSecond }}
Include=/etc/zabbix/zabbix_agentd.d/
UnsafeUserParameters={{ UnsafeUserParameters }}
